<div class="container">
  <nav class="navbar" id="navID">
    <button type="button" (click)="toggleSideBar()" class="toggle-collapse" id="toggle-button">
      <span class="toggle-icon"></span>
    </button>

    <ul class="navbar-ul">
      <li class="nav-item-logo"><a href="#home">Fuck Buyer</a></li>
      <li class="nav-item bounceIn"><a href="#about">About</a></li>
      <li class="nav-item bounceIn"><a href="#contact">Contact</a></li>
      <li class="nav-item bounceIn"><a href="#shop">Shop</a></li>
      <li class="nav-item bounceIn"><a href="#profile">Profile</a></li>
    </ul>

  </nav>
</div>
